* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

body{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: #e6e6e6;
}

.container{
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: 15vh 60vh 60vh 15vh;
}

#nav_bar{
background-color: #f7b600;
grid-column-start: 1;
grid-column-end: 4;
}

.hero{
  background: blue;
  grid-column-start: 2;
  grid-column-end: 3;
  width: 40rem;
}

.secundary{
  width: 40rem;
  grid-column-start: 2;
  grid-column-end: 3;
  background: green;
}
#as_section{
  grid-column-start: 3;
  background: salmon;
  display: inline;
  grid-row-start: 2;
  width: 20rem;
  
}
footer{
  background: purple;
  grid-column-start: 1;
grid-column-end: 4;
}
/*colors
 #f7b600;
  #e6e6e6;
}